
.box{
    height: 250px;
    background-color: rgb(187, 199, 198);
    width: 24%;
    margin-right:10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.box-group{
    display: flex;
    flex-wrap: wrap;
    justify-content:  flex-start;
}

.add-box{
    background-color: rgb(146, 196, 236);
    color: rgb(82, 23, 138);
}


@media (max-width : 1072px){
    .box{
        width: 30%;
    }
}

@media (max-width : 600px){
    .box{
        width: 45%;
    }
}

